<div class="row mt-4">
  <div class="col-md-6">
    <div class="row" style="height: 450px;">
      <div class="col-md-12 my-auto side-header">
        <img src="https://www.shareicon.net/data/256x256/2017/03/22/881335_add_512x512.png" class="mx-auto d-block">
        <h1>User Registration</h1>
        <p><em>-Using <strong>Asp.Net Core Web API</strong> and <strong>Angular 7</strong></em></p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <form [formGroup]="service.formModel" autocomplete="off">
      <div class="form-group required">
        <label>UserName</label>
        <input class="form-control" formControlName="UserName">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input class="form-control" formControlName="Email">
      </div>
      <div class="form-group">
        <label>FullName</label>
        <input class="form-control" formControlName="FullName">
      </div>
      <div forumGroupName="Passwords">
        <div class="form-group required">
          <label>Password</label>
          <input class="form-control" formControlName="Password">
        </div>
        <div class="form-group required">
          <label>Confirm Password</label>
          <input class="form-control" formControlName="ConfirmPassword">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8 offset-md-2">
          <button class="submit btn btn-lg btn-success">Sign Up</button>
        </div>
      </div>
    </form>
  </div>
</div>
